aiodns
aiohttp
aiohttp_socks<=0.4.1
beautifulsoup4
cchardet
configparser
dataclasses
elasticsearch
fake-useragent
flair
geopy
googletransx
jupyterlab
nest_asyncio
pysocks
pandas>=0.23.0
python-dotenv
pandas
requests
schedule
spacy
#tensorflow
textblob
tweepy
tqdm